<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DORMITORYEntities" connectionString="metadata=res://*/DORMITORY.csdl|res://*/DORMITORY.ssdl|res://*/DORMITORY.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=DORMITORY;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MasManagementSoftware.Properties.Settings.DORMITORYConnectionString" connectionString="Data Source=.;Initial Catalog=DORMITORY;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
